body {
    margin: 0;
    font-family: sans-serif;
    background-color: whitesmoke;
}

body > nav {
    
    display:flex;
    justify-content: space-between;
    padding:20px;
    position: fixed;
    background-color: rgba(0, 119, 255, 0.116);
    left: 0;
    right:0;
 
}

h1 {
    margin:0;
    
}
nav a {
    color: black;
    transition: 0.5s;
    font-family:cursive;
    font-size: larger;

}
nav a:hover {
    color: blue;

}

nav section a {
    display: inline-block;
    padding: 10px;
    color: black;
    transition: 0.5s;
    font-family: sans-serif;
}

nav section a:hover{
    color: whitesmoke;
}

main > * {
    min-height: 100vh;
    padding-top: 100px;
    text-align:center;
    
} 
header {
    background-image: url("hw2-images/gkfhw02_portfolio_halfdome.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width:300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

main p {
    text-align: left;
    font-size: 1.2em;
    line-height:1.5em;
    /* if this was not here the para would be on the left:font-size:
    Central column */
    margin: 0 auto;
    max-width: 650px;
}

#myWork figure {
    width:200px;
    display: inline-block;
    margin:10px;
    vertical-align: top;
}

#myWork img {
    width:100%;
    
} 

p {
    text-align: center;
    margin: 0 auto;
    max-width: 650px;
}
